.main {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.display {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 20px;
    border: 1px solid #fdb4eb;
    border-radius: 4px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 18px;
    background-color: #fdb4eb7a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}
