/* common */
.footer-body {
    width: 100%;
    background: #fdb4eb;
}

/* PC */
.copy-light {
    text-align: center;
    width: 100vw;
}

/* tablet */
@media screen and (max-width: 960px) {

}

/* mobile */
@media screen and (max-width: 520px) {

}
