@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap");

* {
    font-family: "IBM Plex Sans JP", sans-serif;
}

body {
    margin: 0;
    position: relative;
    min-height: 100vh;
}

.body-back {
    background-color: #ffffff;
    background-image: linear-gradient(gray 1px, transparent 1px),
        linear-gradient(to right, gray 1px, #ffffff 1px);
    background-size: 20px 20px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
    opacity: 0.2;
}

.main-colum {
    display: flex;
}

.main {
    margin: 10px;
    width: 80vw;
    margin-right: 10%;
    background-color: #f5f5f5;
    box-shadow: 1px 3px 4px #fdb4eb;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#side-menu {
    min-width: 20vw;
    margin: 10px;
    margin-left: 10%;
    background-color: #f5f5f5;
    box-shadow: 1px 4px 5px #fdb4eb;
    border-radius: 10px;
}

hr {
    height: 0;
    border: 0;
    border-top: 2px dashed #fdb4eb;
}

.nav {
    display: none;
}

/* mobile */
@media screen and (max-width: 520px) {
    .main-colum {
        display: block;
    }

    .main {
        margin: 10px;
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    #side-menu {
        display: none;
    }
    .nav {
        display: block;
    }
    .nav_content {
        border-radius: 0 50px 50px 0;
    }
}

.drawer_hidden {
    display: none;
}

.drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
    content: "";
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
    align-items: center;
}

.drawer_back {
    background-color: #fdb4eb;
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: #333 2px solid;
}

.drawer_open span:before {
    bottom: 8px;
}

.drawer_open span:after {
    top: 8px;
}

#drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
}

.nav_content {
    width: 75%;
    height: 100%;
    position: fixed;
    right: 100%;
    z-index: 100;
    background: #fff;
    transition: 0.25s;
    top: 0;
}

.nav_list {
    list-style: none;
}

#drawer_input:checked ~ .nav_content {
    right: 25%;
    box-shadow: -2px 0 5px black;
}
