.C-mark {
    background-color: #fbd4e9;
    border-radius: 40px;
}

body {
    background-color: #fff;
}

.pbox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.tyuusen-input {
    background-color: #fbd4e9;
    border-color: #f79fce;
    outline: none;
    width: 95%;
    border-radius: 10px;
    box-shadow: none;
    padding: 2px 8px;
    resize: none;
}

.kekka {
    border: solid;
    width: 95%;
    background-color: #fbd4e9;
    border-color: #f79fce;
    border-radius: 10px;
    display: inline-block;
}

.button {
    border-radius: 30px;
    width: 95%;
    height: 40px;
    background-color: #fbd4e9;
    border-color: #f79fce;
    border-style: solid;
    font-size: 15px;
}

.button:active {
    background-color: #f79fce;
    border-color: #fbd4e9;
}
